.badge-large {
    padding: 0.5em 1em;
}

.centered-medium {
    @include media-breakpoint-down(md) {
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        text-align: left;
    }
}

.icon-spaced {
    margin: 0 0.2em;
}

.footer {
    background-color: $primary;
    text-align: center;
    padding: 1.5rem 0;
    color: whitesmoke;
    position: absolute;
    z-index: 1031;
    left: 0;
    right: 0;
}


.footer a {
    font-weight: bold;
    color: white;
}

.icon-bigger {
    font-size: 1.5rem;
}

.btn-home {
    border-radius: 2rem;
    font-weight: bold;
    background-color: $gray-700;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}

.btn-home:hover {
    background-color: $primary;
    color: white;
}

.no-underline:hover {
    text-decoration: none;
}